

body {
  font-family: 'Amatic SC', cursive;
}

/*nav {
  background: url(../images/bluePaint.png);
}*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://ariingber.github.io/ilana/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://ariingber.github.io/ilana/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://ariingber.github.io/ilana/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(https://ariingber.github.io/ilana/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
