

body {
  font-family: 'Amatic SC', cursive;
}

nav {
  /*background: url(../images/bluePaint.png);*/
  height:140px;
}
button {
  font-size: 20px;
  margin-right: 20px;
  background-color: #C2DFFF;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('MaterialIcons-Regular.eot') format('eot'), /* Super Modern Browsers */
  url('MaterialIcons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('MaterialIcons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('MaterialIcons-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

#wall {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.content_container {
  width:600px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.content {
  border: solid black 1px;
}
