

body {
  font-family: 'Amatic SC', cursive;
}

nav {
  /*background: url(../images/bluePaint.png);*/
  height:120px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('MaterialIcons-Regular.eot') format('eot'), /* Super Modern Browsers */
  url('MaterialIcons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('MaterialIcons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('MaterialIcons-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
