
@font-face {
    font-family: 'verblight';
    src: url('Webfonts/verb_light_macroman/VerbLight-webfont.eot');
    src: url('Webfonts/verb_light_macroman/VerbLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Webfonts/verb_light_macroman/VerbLight-webfont.woff2') format('woff2'),
         url('Webfonts/verb_light_macroman/VerbLight-webfont.woff') format('woff'),
         url('Webfonts/verb_light_macroman/VerbLight-webfont.ttf') format('truetype'),
         url('Webfonts/verb_light_macroman/VerbLight-webfont.svg#verblight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'verblight';
}

#testone {
  border: 0px solid #428BCA;
  font-family: Avenir-Book;
  font-size: 36px;
  color: #3F87C4;
}

#testtwo {
  font-family: MyanmarSangamMN;
  font-size: 37px;
  color: #4A4A4A;
}

#test3 {
  font-family: Avenir-Book;
  font-size: 36px;
  color: #4A4A4A;
}

#testthree {
  font-family: Avenir-Book;
  font-size: 37px;
  color: #4A4A4A;  
}
